
#navBar {
    background-color: black;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 10%;
    position: sticky;
    top: 0;
}

#navBar ul {
    display: flex;
    margin: 0px;
    list-style-type: none;
    justify-content: center;
    width: 100%;
    padding: 0;
}

#navBar ul li {
    color: white;
    font-weight: 700;
    font-size: 8vh;
    text-align: center;
    width: 30vw;
    margin-left: 1vw;
    margin-right: 1vw;
    flex: 1
}

#navbar ul li:hover {
    background-color: gray;
}