
#navBar {
    background-color: black;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 8%;
    position: sticky;
    top: -1;
    z-index: 10;
}

#navBar ul {
    display: flex;
    margin: 0px;
    list-style-type: none;
    justify-content: center;
    width: 100%;
    padding: 0;
}

#navBar ul li {
    color: white;
    width: 30vw;
    margin-left: 1vw;
    margin-right: 1vw;
    flex: 1;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar ul li a {
    font-weight: 700;
    font-size: 4vh;
    color: white;
    text-decoration: none;
}

#navbar ul li a:visited {
    color: white;
    text-decoration: none;
}

#navbar ul li:hover {
    background-color: gray;
}