body {
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    margin: 0px;
}

.titleBar {
    height: 90%;
    position: relative;
}

.titleBar img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute
}

.titleText {
    position: absolute;
    top: 25%;
    left: 10%;
    font-size: 5vw;
    font-weight: 800;
    background-color: white;
    padding: 1vw 2vw;
    border-radius: 1vw;
}

.empty {
    height: 150%;
}